{% for interest in interests %}
    <div class="
        text-xs mr-2 my-1 uppercase tracking-wider border px-2
         text-gray-600 border-gray-600
         hover:bg-gray-600 hover:text-gray-100 cursor-default">
        {{ interest }}
    </div>
{% endfor %}
