{
    "plugins": [
        ["prismjs",
            {
                "css": true,
                "languages": [
                    "bash",
                    "css",
                    "diff",
                    "ini",
                    "javascript",
                    "json",
                    "markup",
                    "php",
                    "twig",
                    "yaml"
                ],
                "plugins": [
                    "line-numbers"
                ],
                "theme": "tomorrow"
            }
        ]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}
