parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    ergebnis:
        classesAllowedToBeExtended:
            - Twig\Extension\AbstractExtension

    excludes_analyse:
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/public
        - %currentWorkingDirectory%/phpinsights.php
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php

    ignoreErrors:
