parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/
    ergebnis:
        classesAllowedToBeExtended:
            - Twig\Extension\AbstractExtension
            - Ramsey\Collection\AbstractCollection
            - Symfony\Component\Console\Command\Command

    excludes_analyse:
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/public
        - %currentWorkingDirectory%/phpinsights.php
        - %currentWorkingDirectory%/.php-cs-fixer.dist.php
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php

    ignoreErrors:
        - "#^Method App\\\\Model\\\\.* has a nullable return type declaration\\.$#" # Authorize nullable return type for App\Model
        - "#^Method App\\\\Model\\\\.* has parameter .* with a nullable type declaration\\.$#" # Authorize nullable return type for App\Model
