<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <header>
            Navigation bar
        </header>
        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>
        <footer>
            {{ social_link() }}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
